<header class="aboutUs">
  <div class="container">
    <div class="aboutUs_content">
      <div class="working_hours">
        <div class="title">
          <i class="fa-solid fa-clock"></i>
          <p>
            {{
              isGeo == 'geo'
                ? 'სამუშაო დღეები და საათები'
                : 'Working days and hours'
            }}
          </p>
        </div>
        <div class="hours">
          <p>
            {{ isGeo == 'geo' ? 'კვირა' : 'Sunday' }}
          </p>
          <p>13:00 - 23:00</p>
        </div>
        <div class="hours">
          <p>
            {{ isGeo == 'geo' ? 'ორშაბათი' : 'Monday' }}
          </p>
          <p>13:00 - 23:00</p>
        </div>
        <div class="hours">
          <p>
            {{ isGeo == 'geo' ? 'სამშაბათი' : 'Tuesday' }}
          </p>
          <p>13:00 - 23:00</p>
        </div>
        <div class="hours">
          <p>
            {{ isGeo == 'geo' ? 'ოთხშაბათი' : 'Wednesday' }}
          </p>
          <p>13:00 - 23:00</p>
        </div>
        <div class="hours">
          <p>
            {{ isGeo == 'geo' ? 'ხუთშაბათი' : 'Thursday' }}
          </p>
          <p>13:00 - 23:00</p>
        </div>
        <div class="hours">
          <p>
            {{ isGeo == 'geo' ? 'პარასკევი' : 'Friday' }}
          </p>
          <p>13:00 - 23:00</p>
        </div>
        <div class="hours">
          <p>
            {{ isGeo == 'geo' ? 'შაბათი' : 'Saturday' }}
          </p>
          <p>13:00 - 23:00</p>
        </div>
      </div>

      <div class="location">
        <div class="title">
          <i class="fa-solid fa-location-dot"></i>
          <p>
            {{ isGeo == 'geo' ? 'ადგილმდებარეობა' : 'Location' }}
          </p>
        </div>
        <p class="loc">
          {{
            isGeo == 'geo' ? 'ნიკოლოზ ბარათაშვილის 4' : 'Nikoloz Baratashvili 4'
          }}
        </p>
      </div>

      <div class="mobile">
        <div class="title">
          <i class="fa-solid fa-phone"></i>
          <p>
            {{ isGeo == 'geo' ? 'ტელეფონი' : 'Phone' }}
          </p>
        </div>
        <a class="loc" href="tel:+995599879373">599879373</a>
      </div>

      <div class="email">
        <div class="title">
          <i class="fa-solid fa-envelope"></i>
          <p>
            {{ isGeo == 'geo' ? 'ელ. ფოსტა' : 'Email' }}
          </p>
        </div>
        <a class="loc" href="mailto:maytasushiramen&#64;gmail.com">
          maytasushiramen&#64;gmail.com
        </a>
      </div>

      <div class="social">
        <div class="title">
          <i class="fa-solid fa-wifi"></i>
          <p>
            {{ isGeo == 'geo' ? 'სოც. ქსელი' : 'Social Network' }}
          </p>
        </div>
        <div class="social_icons">
          <a href="https://www.instagram.com/mayta.btm/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
