<div class="menu_category_item">
  <div class="container">
    <div class="category_title">
      <div class="back" (click)="navigateCategories()">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <h2>{{ isGeo == 'geo' ? dataById?.name : dataById?.nameEn }}</h2>
    </div>

    <div class="categories">
      @for(item of dataById?.items; track item.id) {
      <div class="categories_item" (click)="openMenuItemDetails(item)">
        <div>
          <h3>{{ isGeo == 'geo' ? item?.name : item?.nameEn }}</h3>
          <h4>₾{{ item?.price }}</h4>
          <p>{{ isGeo == 'geo' ? item?.description : item?.descriptionEn }}</p>
        </div>
        @if(item?.imgUrl) {
        <img [src]="item?.imgUrl" />
        } @else {
        <img src="assets/images/logo.png" />
        }
      </div>
      }
    </div>
  </div>
</div>
