<header class="footer">
  <div class="container">
    <div class="footer_content">
      <div
        class="action"
        (click)="goMain()"
        [class.active]="isActive('/categories')"
      >
        <i class="fa-solid fa-house"></i>
        <p>{{ isGeo == "geo" ? "მთავარი" : "HOME" }}</p>
      </div>
      <div
        class="action"
        (click)="goAboutUs()"
        [class.active]="isActive('/aboutUs')"
      >
        <i class="fas fa-users"></i>
        <p>{{ isGeo == "geo" ? "ჩვენ შესახებ" : "ABOUT US" }}</p>
      </div>
    </div>
  </div>
</header>
