<div class="menu_categories">
  <div class="container">
    <!-- <h2>კატეგორიები</h2> -->

    <div class="categories">
      @for(item of menuData; track item.id) {
      <div class="categories_item" (click)="openCategory(item.id)">
        @if(item?.imgUrl) {
        <img class="bg" [src]="item?.imgUrl" alt="logo" />
        } @else {
        <img class="bg" src="assets/images/logo.png" alt="logo" />
        }
        <div class="overlay"></div>
        <p>{{ isGeo == 'geo' ? item.name : item.nameEn }}</p>
      </div>
      }
    </div>
  </div>
</div>
