// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$MAYTA-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($MAYTA-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($MAYTA-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($MAYTA-theme);
/* You can add global styles to this file, and also import other style files */

body,
html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'BPG ExtraSquare', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1125px;
  width: 90%;
  margin: 0 auto;
}

:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --description-text: #9e9e9e;
  --accent-color: #d32f2f;
  --secondary-text: white;
  --footer-border: white;
  --shadow-color: 0px 7px 10px -8px rgba(0, 0, 0, 0.3);
  --border-color: 1px solid rgba(0, 0, 0, 0.05);
}

.dark-theme {
  --background-color: #000000;
  --text-color: #f5f5f5;
  --description-text: #9e9e9e;
  --accent-color: #d32f2f;
  --secondary-text: white;
  --footer-border: #d32f2f;
  --shadow-color: 0px 7px 10px -8px rgba(255, 255, 255, 0.15);
  --border-color: 1px solid rgba(255, 255, 255, 0.1);
}
